
form {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
}

legend {
    font-weight: bold;
    color: #1a2a6c;
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: block;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos de inputs de texto y fecha */
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
    margin-top: 10px;
}

/* Estilos específicos para el botón de enviar */
button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.boton-inicio {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1a2a6c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}